importFrom( "AnnotationDbi", "as.list", "Ontology", "Term" )
importFrom( "biomaRt", "getBM", "useMart" )
importFrom( "GO.db", "GOBPPARENTS", "GOCCPARENTS", "GOMFPARENTS", "GOTERM" )
importFrom( "graphics", "close.screen", "image", "par", "plot", "rect", "screen", "split.screen", "strwidth", "text" )
importFrom( "stats", "as.dendrogram", "as.dist", "cor", "dist", "hclust", "p.adjust", "phyper" )
importFrom( "utils", "read.table" )

export( "annotateClusters" )
export( "groupClusters" )
export( "loadGeneLists" )
export( "loadGOTerms" )
export( "performGOEnrichment" )
export( "performHierarchicalClustering" )
export( "plotHeatmap" )
